.booksList{
  position: absolute;
  width: 1000px;
  margin-top: 3%;
  margin-left: 25%;
  padding-top: 5%;
}

.list-cont{
  position: relative;
  list-style: none;
  float: left;
  width: 250px;
  height: 500px;
  margin-left: 50px;
}
li{
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  list-style: none;
  float: left;
  width: 250px;
  height: 300px;
}

.book-element:after{
  display: block;
  clear: both
}
.clickableTitle{
  // position: absolute;
  font-size: 30px;
  text-align: left;
  margin-top: 121%;
  height: 50px;

}
.inf{
  font-size: 30px;
  text-align: left;
  height: 50px;
}

.Nav-bar{

  position: fixed;
  background-color: rgb(68, 68, 79);
  height: 100%;
  width: 200px;
  text-align: center;
  color: white;
}

.Play-bar{
  position: fixed;
  margin-top: 42%;
  width: 100%;
  height: 100px;
  background-color: gray;
  text-align: center;
  z-index: 9999;
}
.Logo{
  height: 59px;
  width: 59px;
  margin-top: 10%;
  margin-left: 35%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border-radius: 100px;
}
.YourCollection{
  position: absolute;
  margin-top: 15%;
  margin-left: -50%;
  width: 100%;
  padding-top: 5px;
  border-top: 1px #747E8A solid;
  color: #DEE2EB;

}
.FriendsCollection{
  position: absolute;
  margin-left: -50%;
  margin-top: 50%;
  width: 100%;
  padding-top: 5px;
  border-top: 1px #747E8A solid;
  color: #DEE2EB;
}

.YourCollection:hover,
.YourCollection:active{
  color: white;
}
.FriendsCollection:hover,
.FriendsCollection:active{
  color: white;
}
.clickable-img{
  background-color: pink;
}
.IndImg{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

#usersName{
  position: absolute;
  margin-top: 230%;
  width: 100%;
  color: #DEE2EB;
  padding-top: 7px;
  border-top: 1px #747E8A solid;
}
