.booksList{
  position: absolute;
  width: 1000px;
  margin-top: 3%;
  margin-left: 25%;
  padding-top: 5%;
  color: #DEE2EB;
}

.list-cont{
  position: relative;
  list-style: none;
  float: left;
  width: 250px;
  height: 500px;
  margin-left: 30px;
}
li{
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  list-style: none;
  float: left;
  width: 250px;
  height: 300px;
}

.book-element:after{
  display: block;
  clear: both
}
.clickableTitle{
  // position: absolute;
  font-size: 20px;
  text-align: left;
  margin-top: 121%;
  height: 50px;

}

.clickableTitle:hover,
.clickableTitle:active{
  color: white;
  font-size: 21px
}

.inf{
  font-size: 18px;
  text-align: left;
  height: 50px;
}

.Play-bar{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: gray;
  text-align: center;
  z-index: 9999;
}

.clickable-img{
  background-color: pink;
}
.IndImg{
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;  
}

.IndImg:hover,
.IndImg:active{
  filter: brightness(30%);
}
.fa-play{
  z-index: 9999;
  left: 10%;
  top: 50%;
}
