.booksList{
  position: absolute;
  width: 1000px;
  margin-top: 3%;
  margin-left: 25%;
  padding-top: 5%;
}

.list-cont{
  position: relative;
  list-style: none;
  float: left;
  width: 250px;
  height: 500px;
  margin-left: 50px;
}
li{
  position: absolute;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  list-style: none;
  float: left;
  width: 250px;
  height: 300px;
}

.book-element:after{
  display: block;
  clear: both
}
.clickableTitle{
  // position: absolute;
  font-size: 30px;
  text-align: left;
  margin-top: 121%;
  height: 50px;

}
.inf{
  font-size: 30px;
  text-align: left;
  height: 50px;
}

.AddBook{
  position: absolute;
  background-color: green;
  margin-top: 50%;
  margin-left: 50%;
}
.Nav-bar{

  position: fixed;
  background-color: rgba(0,0,0,0.8);
  height: 100%;
  width: 200px;
  text-align: center;
  color: white;
}

.Play-bar{
  margin-top: 47%;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: gray;
  text-align: center;
}
.Logo{
  height: 59px;
  width: 59px;
  margin-top: 10%;
  margin-left: 35%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border-radius: 100px;
}
