.frontDoor{
  background-image: url("http://res.cloudinary.com/duxhobt9p/image/upload/v1495643347/headers_jhdgdp.jpg");
  min-height: 1000px;
  background-attachment: fixed;
  top: 0px;
  background-position: static;
  background-repeat: no-repeat;
  background-size: cover;
  // filter: brightness(80%);
}


.frontDoorSignUp{
  position: fixed;
  margin-tosp: 23%;
  margin-left: 43%;
  border-width: 5px;
  border: 3px solid black;
  width: 200px;
  height: 35px;
  background-color: black;
  text-align: center;
  font-size: 25px;
  background: black;

}
.frontDoorSignUp:hover,
.frontDoorSignUp:active {
  border-color: #7F6C88;
  background-color: rgba(116, 126, 138, 0.5);
  // color: #7F6C88;
  font-family: 'Inconsolata', monospace;
  font-size: 39px;
}
