.frontDoor{
  background-image: url("http://res.cloudinary.com/duxhobt9p/image/upload/v1495643347/headers_jhdgdp.jpg");
  height: 100vh;
  background-attachment: fixed;
  top: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(70%);
}
.SpeakingBook{
  position: fixed;
  left: 25%;
  top: 40%;
  background: rgba(127, 108, 136,0.0);
  color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  z-index: 9999;
  border-radius: 10px;
  font-family: 'Poiret One', sans-serif;
}
.SpeakingBook h1{
  background: rgba(127, 108, 136,0.0);
}

.frontDoorSignUp{
  position: fixed;
  margin-tosp: 23%;
  margin-left: 43%;
  border-width: 5px;
  border: 3px solid black;
  width: 200px;
  height: 35px;
  background-color: black;
  text-align: center;
  font-size: 25px;
  background: black;

}
.frontDoorSignUp:hover,
.frontDoorSignUp:active {
  border-color: #7F6C88;
  background-color: rgba(116, 126, 138, 0.5);
  // color: #7F6C88;
  font-family: 'Inconsolata', monospace;
  font-size: 39px;
}
.Guest{
  position: fixed;
  background-color: rgba(0,0,0,0.0);
  right: 480px;
  top: 55px;
  z-index: 9999;
  color: black;
  font-size: 25px;
  padding-left: 15px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: rgb(116, 126, 138) 2px solid;
}
.Guest:hover{
  color: #8DB0C4;
}
