.frontDoor{
  background-image: url("reading.jpg");
  min-height: 750px;
  background-attachment: fixed;
  background-position: static;
  background-repeat: no-repeat;
  background-size: cover;
}
// .bg-img{
//   // padding: 1391px, 560px;
//   position: relative;
//   text-align: center;
//   // background-color: #000;
//   width: 100%;
//   height: 1000px;
//   // position: fixed;
//   // z-index: -1;
// }

// .bg-img{
//    min-height: 300px;
//    background-attachment: fixed;
//   //  background-position: static;
//   //  background-repeat: no-repeat;
//   //  background-size: cover;
// }
.style{
  height:800px;
  background-color: #242426;
}

.frontDoorSignUp{
  margin-left: 37%;
  margin-top: 54%;
  border-width: 5px;
  border: 3px solid black;
  border-radius: 10px;
  position: absolute;
  font-size: 16px;
  line-height: 1;
  // width: 230px;
  // padding: 21px 56px 19px;
  height: 50px;
  width: 400px;
  padding-top: 1%;
  z-index: 99999;
  background-color: #8DB0C4;
  // opacity: 0.5;
  text-align: center;
  font-size: 35px;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
  // font-family: solata;
  color: black;
}
.frontDoorSignUp:hover,
.frontDoorSignUp:active {
  border-color: #7F6C88;
  background-color: rgba(116, 126, 138, 0.5);
  // color: #7F6C88;
  font-family: 'Inconsolata', monospace;
  font-size: 39px;
}
