.top{
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: -1;
  position: fixed;
}
.header-link{
  position: fixed;
  margin-left: 1%;
  margin-top: 3%;
  width: 150px;
  height: 40px;
  color: pink;
  text-align: center;
  font-size: 30px;
  z-index: 99999;

}
.header-link:hover,
.header-link:active{
  color: #8DB0C4;
}
.header-button{
  position: fixed;
  margin-top: 1%;
  margin-left: 87%;
  height: 76px;
  width: 130px;
  font-size: 25px;
  text-align: center;
  color: white;
  border-width: 0px;
  text-decoration: underline;

}
.buttons{
  position: fixed;
  margin-left: 80%;
  padding-top: 1%;
  width: 200px;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;
  background: rgba(0,0,0,0.0);
}
.loginLink{
  position: fixed;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: -10%;
  color: black;
  background: rgba(0,0,0,0.0);
}
.loginLink:hover,
.loginLink:active{
  color: #8DB0C4;
}
.signupLink{
  position: fixed;
  margin-top: -5px;
  color: black;
  background: rgba(0,0,0,0.0);
}

.signupLink:hover,
.signupLink:active{
  color: #8DB0C4;
}

.header-name{
  position: fixed;
  margin-top: 20px;
  margin-left: 70%;
  width: 200px;
  height: 60px;
  text-align: center;
  padding-top: 1%;
  font-size: 30px;
  z-index: 9999;

}
