.login-form-container{
  position: absolute;
  margin-left: 30%;
  margin-bottom: 30%;
  margin-top: 5%;
  z-index: 99999;
  width: 500px;
  height: 800px;
  text-align: center;
  background: rgba(0,0,0,0.0);
}

.login-input{
  height: 50px;
  width: 100%;
  margin-top: 5px;
  font-size: 27px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  border-radius: 7px;
}


.login-input::placeholder{
  font-size: 18px;
  color: #ece8fc;
}

#sessionSubmit{
  position: absolute;
  height: 35px;
  margin: 10px;
  width: 30%;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-size: 20px;
  left: 5px;

  background-color: #8DB0C4;
}
#header{
  font-size: 35px;
  position: relative;
  margin-top: 80px;
}
.error-list{
  list-style: none;
  width: 100%;
  height: 2px;
  text-align: left;
  margin-left: 2%;
  border: 0px;
}
.SessionCancel{
  position: absolute;
  // height: 35px;
  // top: 58%;
  // width: 30%;
  // padding-top: 5px;
  // border-radius: 2px;
  // font-size: 20px;
  right: 5px;
  height: 35px;
  margin: 10px;
  width: 30%;
  padding-top: 2.5px;
  padding-bottom: 2px;
  border-radius: 2px;
  font-size: 20px;
  background-color: #bf5f75;
}
.SessionCancel:hover{
  background-color: #d87d92;
  color: white;
}
#guestLogin{
  position: absolute;
  height: 35px;
  top: 53%;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  font-size: 20px;
  left: 5px;
  background-color: #8DB0C4;
}
#error{
  color: #e50d0d;
  font-size: 20px;
  width: 100%;
  height: 20px;
  border: 0px;

}
#sess-mini-link{
  text-decoration: underline;
  color: #8DB0C4;
}
#sess-mini-link:hover,
#sess-mini-link:active{
  color: #acd7ef;
}

#guestLogin:hover,
#sessionSubmit:hover,
#sessionSubmit:active {
  background-color: #acd7ef;
  color: white;
	// box-shadow: inset 0 0 0 3px #3a7999;
}
