.login-form-container{
  // position: absolute;
  position: fixed;
  margin-left: 30%;
  margin-bottom: 30%;
  margin-top: 5%;
  z-index: 99999;
  width: 500px;
  height: 800px;
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

.login-input{
  height: 50px;
  width: 100%;
  margin: 10px;
  font-size: 27px;
  font-family: inherit;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  border-radius: 7px;
}


.login-input::placeholder{
  font-size: 18px;
}

#sessionSubmit{
  height: 55px;
  margin: 10px;
  width: 100%;
  border-radius: 50px;
  font-size: 30px;
  font-family: 'Inconsolata', monospace;
  background-color: #0eead4;
}
#header{
  font-size: 35px;
  position: relative;
  margin-top: 80px;
}
.error-list{
  list-style: none;
  width: 100%;
  height: 2px;
  text-align: left;
  margin-left: 2%;
}
#error{
  color: red;
  font-size: 18px;
  width: 100%;
}
#sess-mini-link{
  text-decoration: underline;
  color: #0eead4;
}
#sess-mini-link:hover,
#sess-mini-link:active{
  color: #40f9e7;
}

#sessionSubmit:hover,
#sessionSubmit:active {
  background-color: #40f9e7;
	// box-shadow: inset 0 0 0 3px #3a7999;
}
