.show-book-cont{
  position: fixed;
  width: 100%;
}

.img-show-cont{
  width: 100%;
  height: 200px;

}
.show-book-desc{
  position: absolute;
  width: 600px;
  margin-left: 755px;
  margin-top: 1px;
  font-size: 20px;
  padding: 2%;
  border: solid 1px gray;
  border-radius: 20px;
}

.show-book-title{
  height: 50px;
  text-align: center;
  font-size: 28px;
}
.show-book-audio{
  margin-left: 30%;
  margin-top: 40%;
}

.TitleAuth{
    position: fixed;
    margin-left: 250px;
    margin-top: 30px;
    width: 250px;
    height: 450px;
}

.show-book-auth{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.PlayButton{
  text-align: center;
  font-size: 30px;
  margin-left: 250px;
  margin-top: -250px;
  background-color: green;
  height: 50px;
  width: 250px;
  border-radius: 30px;
}

.Dots{
  position: absolute;
  margin-left: 350px;
  width: 50px;
  text-align: center;
  font-family: inherit;
  font-size: 40px;
  outline:none;
}
.Dots:focus + .Menue{
  background-color: green;
}
.Menue{
  background-color: brown;
}
.DeleteButton{
  position: absolute;
  margin-left: 50%;
  width: 100%;
  background-color: pink;
}
.EditButton{
  background-color: blue;
  margin-left: 50%;
}
.ShowImg{
  position: absolute;
  background-size: contain;
}
#by{
  display: flex;
  margin-top: 1px;
}
