.createBook{
  // position: relative;
  position: absolute;
  margin-left: 30%;
  margin-bottom: 30%;
  margin-top: 5%;
  z-index: 99999;
  width: 500px;
  height: 500px;
  text-align: center;
  // border: 1px black solid;
  // border-radius: 20px;
  color: #DEE2EB;
  background: rgba(0,0,0,0.0);
}

.AddBook{
  position: fixed;
  margin-top: 3%;
  margin-left: 85%;
  width: 150px;
  height: 20px;
  padding-top: 1%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
  border: 1px solid;
  border-radius: 20px;
  color: #DEE2EB;
  background: rgba(103, 103, 114, 0.5);
}
.AddBook:hover,
.AddBook:active{
  border-color: white;
  color: white;
}
.CreateForm{
  height: 50px;
  width: 100%;
  margin: 10px;
  font-size: 20px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  border-radius: 7px;
}
.uploadImg{
  position: absolute;
  margin-top: 50px;
  margin-left: -445px;
  font-size: 20px;
  color: blue;
}
.AudioUpload{

  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.AudioLabel{
  position: absolute;
  top: 390px;
  margin-left: 1px;
  font-size: 1.26em;
  font-weight: 700;
  color: white;
  background-color: rgba(0,0,0,0.0);
  display: inline-block;
  color: #abd2e8;
  text-decoration: underline;

}

.AudioLabel:focus,
.AudioLabel:hover {
    color: white;
}
.bookCreateButton{
  position: relative;
  margin-right: 300px;
  border: 1px #DEE2EB solid;
  border-radius: 20px;
  width: 150px;
  height: 40px;
  color: #DEE2EB;
}
.cancel{
  position: absolute;
  background-color: #bf5f75;
  border: 1px  #DEE2EB solid;
  border-radius: 20px;
  margin-left: -130px;
  width: 150px;
  height: 35px;
  text-align: center;
  padding-top: 5px;
  font-size: 20px;

}
.cancel:hover,
.cancel:active{
  color: white;
  border-color: white;
}
.bookCreateButton:hover,
.bokkCreateButton:active{
  color: white;
  border-color: white;
}
#addBookHeader{
  font-size: 25px;
}
.DescArea{
  display: flex;
  justify-content: space-between;
}
.uploadImg{
  top: 380px;
  left: 470px;
  text-decoration: underline;
  //other color
  color: #abd2e8;
}

.uploadImg:hover,
.uploadImg:active{
  color: white;
}
