.show-book-cont{
  position: fixed;
  width: 100%;
}

.img-show-cont{
  position: fixed;
  margin-left: 50%;
  background-color: pink;
  width: 100px;
}
.show-book-desc{
  position: fixed;
  background-color: green;
  margin-left: 50%;
}
.show-book-title{
  width: 300px;
  margin-left: 60%;
  background-color: gray;
}
.show-book-auth{
  position: fixed;
  background-color: orange;
  margin-left: 30%;
  margin-top: 20%;
}
.show-book-audio{
  margin-left: 30%;
  margin-top: 40%;
  background-color: violet;
}
