.show-book-cont{
  position: absolute;
  margin-top: 5%;
  margin-left: 23%;
  height: 1000px;
  width: 1000px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.img-show-cont{
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 400px;
  height: 400px;
  color: red;
}
.show-book-desc{
  border-style: solid;
  position: absolute;
  border-color: red;
  border-width: 1px;
  height: 400px;
  width: 600px;
  margin-top: 2%;
}
.show-book-title{
  position: absolute;
  background-color: red;
  width: 600px;
  margin-left: 40%;
  margin-top: -30%;
  padding-top: 100px;
}
