.top{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80px;
  position: fixed;
  opacity: 0.3;
}
.header-link{
  position: absolute;
  margin-top: -4%;
  margin-left: 1%;;
  color: white;
}
.header-button{
  position: absolute;
  margin-top: -3%;
  margin-left: 87%;
  height: 40px;
  width: 130px;
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  background-color: black;
  color: white;
  border-width: 0px;
  text-decoration: underline;
}
.buttons{
  margin-left: 80%;
  margin-top: 2%;
  width: 200px;
  font-size: 25px;
  display: flex;
  // background-color: white;
  justify-content: space-between;
  font-family: 'Inconsolata', monospace;
}
.loginLink{
  color: white;
}
.signupLink{
  color: white;
}
