.top{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 9999;
}
.header-link{
  position: absolute;
  margin-left: 1%;
  margin-top: -3%;
  width: 150px;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.0);
}
.header-link:hover,
.header-link:active{
  color: #8DB0C4;
}
.header-button{
  position: absolute;
  margin-top: -4%;
  margin-left: 87%;
  height: 76px;
  width: 130px;
  font-size: 25px;
  text-align: center;
  color: white;
  border-width: 0px;
  text-decoration: underline;
}
.buttons{
  margin-left: 80%;
  padding-top: 1%;
  width: 200px;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: space-between;

}
.loginLink{
  color: white;
  margin-right: 10px;
  margin-left: -80%;
  background-color: rgba(0, 0, 0, 0.0);
}
.loginLink:hover,
.loginLink:active{
  color: #8DB0C4;
}
.signupLink{
  color: white;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.0);
}
.signupLink:hover,
.signupLink:active{
  color: #8DB0C4;
}

.header-name{
  margin-left: 10%;
  width: 200px;
  height: 60px;
  text-align: center;
  color: white;
  padding-top: 1%;
  font-size: 25px;
  background-color: gray;
}
