.friendsList{
  justify-content: space-between;
  margin-left: 30%;
  margin-top: 5%;
}
.friend{
  position: relative;
  display: flex;

}
ul{

}
.friendsList li{
  position: inherit;
  background-color: rgb(68, 68, 79);
  height: 40px;
  width: 500px;
  border: solid white 1px;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 25px;
  color: inherit;
}
.friendsList:hover,
.friendsList:active{
  color: white;
}
.goback{
  position: absolute;
  height: 55px;
  margin-left: 420px;
  margin-top: 30px;
  width: 500px;
  padding-top: 9px;
  height: 50px;
  border-radius: 50px;
  font-size: 25px;
  left: 5px;
  background-color: #bf5f75;
  text-align: center;
}
.goback:hover{
  background-color: #d87d92;
}
.addFriend{
  z-index: 9999;
  position: fixed;
  color: #DEE2EB;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.0);
  width: 200px;
  height: 35px;
  top: 5%;
  right: 5%;
  font-size: 25px;
  border: solid 1px #DEE2EB;
  border-radius:  20px;

}
