.Nav-bar{
  position: fixed;
  background-color: rgb(68, 68, 79);
  // background-color: #1B1B1C;
  height: 100%;
  width: 200px;
  text-align: center;
  top: 0px;
}

.Logo{
  height: 59px;
  width: 59px;
  margin-top: 10%;
  margin-left: 35%;
  -webkit-filter: invert(100%);
  filter: invert(100%);
  border-radius: 100px;
}
.YourCollection{
  position: absolute;
  margin-top: 60%;
  margin-left: -50%;
  width: 100%;
  padding-top: 5px;
  border-top: 1px #747E8A solid;
  color: #DEE2EB;

}
.FriendsCollection{
  position: absolute;
  margin-left: -50%;
  margin-top: 100%;
  width: 100%;
  padding-top: 5px;
  border-top: 1px #747E8A solid;
  color: #DEE2EB;
}
.YourCollection:hover,
.YourCollection:active{
  color: white;
}
.FriendsCollection:hover,
.FriendsCollection:active{
  color: white;
}
.fa-search{
  position: fixed;
  color: #DEE2EB;
  margin-top: 125px;
  margin-left: -80px;
  z-index: 9999;
  font-size: 20px;
  // background-color: rgb(68, 68, 79);
  // background-color: #1B1B1C;

}
// .fa-search:hover{
//   // font-size: 22px;
//   color: white;
// }

#TitleSearch{
  position: absolute;
  margin-left: -50%;
  margin-top: 50%;
  width: 100%;
  // padding-top: 5px;
  border-bottom: 2px #747E8A solid;
  border-radius: 20px;
  background-color: rgb(68, 68, 79);
  // background-color: #1B1B1C;
  color: white;
  padding: 0px;
  font-size: 35px;
  height: 50px;
}
#TitleSearch:hover{
  border-color: white;
}
#usersName{
  position: absolute;
  margin-top: 230%;
  width: 100%;
  color: #DEE2EB;
  padding-top: 7px;
  border-top: 1px #747E8A solid;
}
