.TimeMarker{
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 9999;
  background-color: rgba(0,0,0,0.0);
}

.Player{
  position: fixed;
  bottom: 0px;
  background-color: rgba(41, 41, 45, 0.7);
  text-align: center;
  z-index: 9999;
}

.PlayButton{
}

.fa_play{
}

.fa-pause{
}

.PauseButton{
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 9999;
  background: rgba(0,0,0, 0.0);
}
.Circle{
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 9999;

  background-color: rgba(0,0,0,0.0);
  border: 1px #DEE2EB solid;
  text-align: center;
  width: 30px;
  height: 25px;
  padding-top: 3px;
  padding-left: 1px;
  border-radius: 100%;
}

.NextButton{
  position: fixed;
  left: 60%;
  bottom: 45px;
  z-index: 9999;
}
.fa-step-forward{
  position: fixed;
  font-size: 16px;
  background-color: rgba(0,0,0,0.0);
}
.PrevButton{
  position: fixed;
  margin-right: 10px;
  bottom: 45px;
  left: 40%;

  z-index: 9999;
}
.fa-step-backward{
  position: fixed;
  font-size: 16px;
  background-color: rgba(0,0,0,0.0);
}

.ProgressBar{
  position: fixed;
  z-index: 9999;
  bottom: 8px;
  background-color: rgb(68, 68, 79);
  width: 90%;
  height: 3px;
  border-radius: 4px;
  left: 5%;
  &-elapsed{
    background-color: #DEE2EB;
    z-index: 9999;
    height: 3px;
  }
}

.PrevButton:hover,
.NextButton:hover,
.NextButton:active{
  color: white;
}

.Circle:hover,
.Circle:active{
  width: 33px;
  height: 28px;
  border-color: white;
}
