.Player{
  position: fixed;
  bottom: 4px;
  background-color: rgba(0,0,0, 0.8);
  text-align: center;
  z-index: 9999;
}
.PlayButton{
  position: fixed;
  left: 50%;
  bottom: 25px;
  z-index: 9999;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 0 15px 30px;
  border-color: transparent transparent transparent #DEE2EB;
}
.PauseButton{
  position: fixed;
  left: 48%;
  bottom: 25px;
  z-index: 9999;

  width: 4px;
  height: 30px;
  border-right: 5px solid #DEE2EB;
  border-left: 5px solid #DEE2EB;

}
